<body style="background-color:rgb(176, 196, 222);">
<h2>Welcome to WorkOut!</h2>
<p>WorkOut is designed to keep track of your daily fitness routine. <br>
It keeps track of your exercises, how many reps you completed and what day you worked out. </p>
<p>Sign up now or Log in to stay healthy! <br>
<a href="/signup">Sign Up</a> or <a href="/login">Log In</a></p>
</body>