<h2>Edit User <%= @user.username %></h2>
<form method="POST" action="/user/<%= @user.id %>">
<input id="hidden" type="hidden" name="_method" value="patch">
    <p>Change Username: <input type="text" name="username" value="<%= @user.username %>"></p>

    <h3>Change Password</h3>
    <p>Change Password: <input type="password" name="new_password"> Reenter Password<input type="password" name="new_password_2"></p>
    
    <input type="submit">
</form>
<p>or</p>
<form method="POST" action="/user/<%= @user.id %>">
<input type="hidden" id="hidden" name="_method" value="delete">
<input type ="submit" value="Delete Account">
</form>