<h2>Log In</h2>

<form method="POST" action="/login">
    <p>Username: <input type="text" name="username"></p>
    <p>Password: <input type="password" name="password"></p>
    <input type="submit">
</form>

<% if !logged_in? %>
    <%= @error %>
<% end %>